h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: underline wavy;
    color:chocolate;
    border:5px red dashed
}
p{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: underline wavy;
    color: rgb(97, 52, 52);
    border: 5px red dashed;
    font-size: 20px;
}
ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: dashed;
    text-transform: uppercase;
    color: aqua;
    
}